*{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

div{
    width: 300px;
    margin: auto;
}

table, th, td{
    border: 2px aqua solid;
}

table{
    border-collapse: collapse;
    width: 300px;
    text-align: center;
    
}

th{
    background-color: cadetblue;
}

td{
    background-color: rgba(137, 43, 226, 0.541);
}

tr:hover{
    background-color: thistle;
    font-weight: bold;
}